<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/updateallcomment" method="post">
    id:<input type="text" name="id"><br>
    details:<input type="text" name="details"><br>
    <input type="submit" name="提交">
</form>

<form action="/insertallcomment" method="post">
    details:<input type="text" name="details"><br>
    favourable:<input type="text" name="favourable"><br>
    <input type="submit" name="提交">
</form>

</body>
</html>